.project-display {
    min-height:27rem;
    height:auto;
    width:27rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    align-self:center;
    justify-self: center;
    text-align: center;
    margin-top:5vh;
    text-decoration: none;
}
.project-header {
    display:flex;
    flex-direction: row;
    width:80%;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 2px solid white;
    padding-bottom:1vh;

}
.project-header-title {
    font-size:3rem;
    color:white;
}
.project-background {
    padding:5vh 0px 5vh 0px;
}
.project-display:hover {
    background-color: #262626;
}
.project-display:hover .project-title {
    color:white;
}
.project-display:hover .project-date {
    color:white;
}
.project-display:hover .project-tagline {
    color:#EAEAEA;
}
.project-display:hover .view-more-button {
    background-color: white;
    color:#3C3C3C;
}
.project-title {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    color:#242424;
    font-size: 2rem;
}
.project-date {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color:#000000;
    font-size: 1rem;
}
.project-tagline {
    color:#868686;
    font-family: 'STIX Two Text', serif;
}
.project-logo {
    max-height: 15rem;
    max-width: 100%;
}
.view-more-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #3C3C3C;
    color:white;
    text-decoration: none;
    padding: 1.5vh 5% 1.5vh 5%;
    margin: 0px 30% 0px 30%;
}
.project-logo-container {
    height:15rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.attribute{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-family: 'STIX Two Text', serif;
}
.attribute-section{
    width:80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-bottom:3vh;
}
.attribute-title {
    font-weight: 500;
    font-size:1.4rem;
    color:#3C3C3C;
}
.attribute-value {
    font-size:1.5rem;
    color:#6A6A6A;
}
@media only screen and (max-width: 700px) {
    .project-display {
        width:85%;
        height:auto;
        padding: 1rem  5% 1rem 5%;
    }
}
@media only screen and (max-width: 500px) {
    .project-header {
        flex-direction: column;
        align-items: center;
    }
    .attribute-section {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .attribute {
        padding-top:2vh;
    }
}