{% extends "layout.html" %}
{%block head%}
<link href = "/static/css/background.css?v=1.01" rel="stylesheet" type = "text/css"/>
<style>
    .flex {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    h1 {
        margin: 0px 0px 0px 0px;
        font: normal normal 300 40px Montserrat;
        color: #FFFFFF;
    }
    h2 {
        margin: 0px 0px 0px 0px;
        font: normal normal 300 30px Montserrat;
        color: #FFFFFF;
    }
    .build {
        height:70%;
        max-width:100%;
    }
    .button {
        font: normal normal 300 20px Montserrat;
        color: white;
        text-decoration: none;
        background-color:#116ac5;
        border-radius:5px;
        padding: 20px 30px 20px 30px;
        margin: 10px 0px 10px 0px;
    }
    @media only screen and (max-width: 700px) {
        .background-image {
            width:auto;
            height:100%;
            
        }
        h1 {
            text-align:center;
        }
        h2 {
            text-align: center;
        }
        .main {
            overflow:hidden;
        }
        .build {
            width:90%;
            height:auto;
        }
    }
</style>
{%endblock%}
{%block title%}TODO{%endblock%}
{%block body%}

<div class = "main flex">
    <h1>
        This Isn't The Page Your Looking For
    </h1>
    <h2>
        You Didn't See Anything Here
    </h2>
    <a href = "/" class = "button">
        Return Home
    </a>
    <img class = "build" src= "/static/images/mib.png" />
    <div class = "overlay">

    </div>
    <img class = "background-image" src = "/static/images/seattle.jpg"/>

     
</div>

{%endblock%}