{% extends "layout.html" %}
{%block head%}
<link href = "/static/css/background.css?v=1.01" rel="stylesheet" type = "text/css"/>
<style>
    .flex {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    h1 {
        margin: 0px 0px 0px 0px;
        font: normal normal 300 50px Montserrat;
        color: #FFFFFF;
    }
    h2 {
        margin: 0px 0px 0px 0px;
        font: normal normal 300 40px Montserrat;
        color: #FFFFFF;
    }
    .build {
        height:50%;
        max-width:100%;
    }
    .main {
        text-align: center;
    }
    @media only screen and (max-width: 700px) {
        .background-image {
            width:auto;
            height:100%;
        }
        h1 {
            text-align:center;
        }
        h2 {
            text-align: center;
        }
        .main {
            overflow:hidden;
        }
        .build {
            width:90%;
        }
    }
</style>
{%endblock%}
{%block title%}TODO{%endblock%}
{%block body%}

<div class = "main flex" >
    <a href = "/encrypt" style = "color:#71c6ff;">
        <h1 style = "padding-top:50px;">
            Click to Encrypt An Image
        </h1>
    </a>
    <a href = "/decrypt" style = "color:#71c6ff;">
        <h1 style = "padding-top:50px;">
            Click to Decrypt An Image
        </h1>
    </a>
    
    <div class = "overlay">

    </div>
    <img class = "background-image" src = "/static/images/seattle.jpg"/>

     
</div>

{%endblock%}
