{% extends "layout.html" %}
{%block head%}
<link href = "/static/css/background.css?v=1.01" rel="stylesheet" type = "text/css"/>
<style>
    .flex {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    h1 {
        margin: 0px 0px 0px 0px;
        font: normal normal 300 50px Montserrat;
        color: #FFFFFF;
    }
    h2 {
        margin: 0px 0px 0px 0px;
        font: normal normal 300 40px Montserrat;
        color: #FFFFFF;
    }
    .build {
        height:50%;
        max-width:100%;
    }
    .main {
        text-align: center;
    }
    @media only screen and (max-width: 700px) {
        .background-image {
            width:auto;
            height:100%;
        }
        h1 {
            text-align:center;
        }
        h2 {
            text-align: center;
        }
        .main {
            overflow:hidden;
        }
        .build {
            width:90%;
        }
    }
</style>
{%endblock%}
{%block title%}TODO{%endblock%}
{%block body%}

<div class = "main flex" >
    <h1 style = "padding-top:50px;">
        Encrypt An Image
    </h1>
    <h2 style = "padding-bottom:50px;">
        Upload it Here
    </h2 >
    <form style = "color:#71c6ff;" action = "/encrypt" method = "post" enctype="multipart/form-data">
        {%csrf_token%}
        <input type = "text" name = "string" placeholder= "enter text to encrypt" />
        <input type = "file" name = "planet" accept = "image/png,image/bmp,image/jpg,image/jpeg" />
        <button type = "submit">Submit</button>
    </form>
    <div class = "overlay">

    </div>
    <img class = "background-image" src = "/static/images/seattle.jpg"/>

     
</div>

{%endblock%}
